<mat-card>
  <mat-card-header>
    <mat-card-title>HR Management</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" (input)="setUser = $event.target.value">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" (input)="setPassword = $event.target.value">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onLoginUser(setUser, setPassword)" [disabled]="emailFormControl.hasError('email') || emailFormControl.hasError('required')">Login</button>
  </mat-card-actions>
</mat-card>